# General definitions
[general]
PROCNAME: ADSP-21%(PROC)s
TEMPLATE1: project.tmpl
TEMPLATE2: cproject.tmpl
LIBNAME: libosal%(PROC)s_%(RTOS)s
PROJNAME: libosal%(PROC)s_%(RTOS)s_%(REVISION)s
PROJFOLDER: libosal%(PROC)s_%(REVISION)s
PROJNAME1: .project
PROJNAME2: .cproject
OSAL_TYPE: libosal_noos
PREFFIX: 21
OUT_FOLDER: %(PREFFIX)s%(PROC)s_rev_%(REVISION)s
RTOS: noos

### Definitions for each variant ###


#I want - an output folder
# a processor name
# a project folder

[libosal_160_any]
PROC: 160
REVISION: any

[libosal_161_any]
PROC: 161
REVISION: any

[libosal_266_any]
PROC: 266
REVISION: any

[libosal_266_none]
PROC: 266
REVISION: none

[libosal_362_any]
PROC: 362
REVISION: any

[libosal_362_none]
PROC: 362
REVISION: none

[libosal_367_any]
PROC: 367
REVISION: any

[libosal_367_none]
PROC: 367
REVISION: none

[libosal_367_0.1]
PROC: 367
REVISION: 0.1

[libosal_371_any]
PROC: 371
REVISION: any

[libosal_371_none]
PROC: 371
REVISION: none

[libosal_469_any]
PROC: 469
REVISION: any

[libosal_469_none]
PROC: 469
REVISION: none

[libosal_479_any]
PROC: 479
REVISION: any

[libosal_479_none]
PROC: 479
REVISION: none

# SC589 specifies a different processor name, as it differs from the usuan ADSP-21xxx format
# Also, due to a simulator and FPGA problems with VISA, we use different project files
# as the default options for visa (i.e. always enabled) can't be used.  Once the issues are
# resolved, the nwc-specific project files can be removed.
  
[libosal_sc589_none]
PREFFIX: 
PROC: sc589
PROCNAME: ADSP-SC589
REVISION: none

[libosal_sc589_any]
PREFFIX: 
PROC: sc589
PROCNAME: ADSP-SC589
REVISION: any
